.game {
  margin: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(5, 6vw);
}

.game-grid__column {
  display: grid;
  grid-template-rows: repeat(10, 6vw);
}

.game-grid__square {
  margin: 5px;
  background: gray;
  opacity: 0.5;
}

.game-grid__square--active {
  background-color: black;
  opacity: 1;
}

@media (max-height: 70vw) {
  .game-grid__column {
    grid-template-rows: repeat(10, 3vw);
  }
}
