.player__container {
  min-height: 6vw;
  display: grid;
  grid-template-columns: repeat(5, 6vw);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.player__icon {
  /* border: 2px solid black; */
  border-radius: 50%;
  max-width: 6vw;
  max-height: 6vw;
}

.player__space {
  margin: 10px;
}
