.player__container {
  margin: 1rem;
  min-height: 10vw;
  display: grid;
  grid-template-columns: repeat(5, 10vw);
  align-items: center;
  justify-content: center;
}

.player__icon {
  border-radius: 50%;
  max-width: 10vw;
  max-height: 10vw;
}

.player__space {
  margin: 10px;
}
